* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  font-family: 'Open sans', sans-serif;
  font-weight: normal;
  line-height: 1.2;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  max-width: 1110px;
  margin: 0 auto;
}

h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.1em;
}

.mr-30 {
  margin-right: 30px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-100 {
  padding-top: 100px;
}

.d-flex {
  display: flex;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;

  white-space: nowrap;
}

.app {
  height: auto;
}

.section {
  position: relative;

  width: 100%;
}

.header {
  /* background: rgba(255, 235, 193, 0.877); */
}

.header-title {
  font-size: 54px;
}

.main {
  text-align: center;
}

.search-group {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.search-group::before {
  position: absolute;

  top: 0;

  width: 100%;
  height: 100%;

  background: url('../images/search-group-bg.jpg');

  z-index: -4;
  content: '';
}

.search-group > form {
  width: 100%;

  justify-content: center;
}

.search-input {
  font-size: 16px;
  padding: 15px;
  height: 50px;
  max-width: 1000px;
  flex-grow: 1;
  vertical-align: bottom;
  border: none;
  /* border: solid rgb(1, 132, 255) 1px; */
}

/* .search-button {
  padding: 15px;
  border: solid rgb(1, 132, 255) 1px;
  border-left: none;
  color: rgb(1, 132, 255);
} */

.search-button {
  width: 70px;
  height: 50px;
  min-width: 50px;
  border: none;

  background-color: rgb(233, 233, 233);

  cursor: pointer;
}

.search-button::before {
  position: relative;
  left: 0;
  right: 0;
  display: inline-block;

  width: 40%;
  height: 40%;

  background: url('../images/search.png') no-repeat;
  z-index: 1;

  content: '';
}

.search-button:disabled {
  background-color: rgb(233, 233, 233);
}

.input-group {
  display: flex;
}

.spinner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  justify-content: center;
}

.spinner-text {
  margin-top: 35px;
}

.not-found {
  margin-top: 150px;
}

.not-found::before {
  position: relative;
  left: 0;
  right: 0;
  display: inline-block;

  width: 50px;
  height: 50px;

  background: url('../images/not-found.png') no-repeat;
  z-index: 1;

  content: '';
}

.books-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  justify-content: space-evenly;
  margin-top: 50px;
}

.book-snippet {
  display: block;
  flex-wrap: wrap;
  border: solid rgb(1, 132, 255) 1px;
  border-radius: 25px;
  text-align: center;

  justify-content: center;
  flex-basis: 500px;
  width: 30%;

  background: rgb(248, 248, 248);
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.book-snippet > button:hover {
  background: rgb(221, 221, 221);
  cursor: pointer;
}

.book-snippet > button {
  border: none;
  border-radius: 25px;
  padding: 25px;
  width: 100%;
  height: 100%;
  background: rgb(248, 248, 248);
}

.snippet-title {
  display: block;
  font-style: italic;
  flex-grow: 1;
}

.snippet-author {
  display: block;
  font-size: 14px;
  font-weight: normal;
}

.snippet-cover {
  max-height: 60px;
  max-width: 60px;
}

.no-cover {
  font-size: 50px;
}

.no-cover-lg {
  font-size: 150px;
}

/** MODAL **/

.book-modal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 25vh;
  max-width: 700px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
  outline: none;
  padding: 20px;
}

.modal-book-title {
  overflow: hidden;
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  white-space: pre-wrap;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 50px;
  }
}

@media (max-width: 500px) {
  .header-title {
    font-size: 34px;
  }

  .spinner {
    margin-top: 100px;
  }

  .not-found {
    margin-top: 100px;
  }
}
